.blessay {
  padding-top: 10rem;

  .essay {
    &__list {

    }

    &__item {
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray0;

      a {
        display: block;
      }
    }
  }

  .func {
    position: relative;
    margin-left: 20px;

    &__btn {
      color: $gray6;
      font-size: 13px;
      @include icon(arrow) {
        transform: rotateZ(90deg);
        transition: transform 0.2s;
      }
    }

    &__layer {
      position: absolute;
      width: 150px;
    }
  }

  .is-active .func__btn {
    &::before {
      transform: rotateZ(270deg);
    }
  }
}
