.blessay {
  padding-top: 10rem;

  .essay {
    &__list {

    }

    &__item {
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray0;

      a {
        display: block;
      }
    }
  }
}
