.blessay {
  padding-top: 10rem;

  .essay {
    &__list {

    }

    &__item {
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid $gray0;

      a {
        display: block;
      }
    }
  }

  .func {
    position: relative;
    margin-left: 20px;
    margin-right: 20px;

    &.align-right {
      text-align: right;
    }

    .btn {
      & + .btn {
        margin-left: 4px;
      }
    }

    &__opener {
      color: $gray6;
      font-size: 13px;
      @include icon(arrow) {
        transform: rotateZ(90deg);
        transition: transform 0.2s;
      }
    }

    &__btn {
      padding: 0.35em 0;
      color: $gray6;
      font-size: 15px;
    }

    &__layer {
      position: absolute;
      width: 150px;
      top: 20px;
    }
  }

  .notice-recommend {
    a {
      display: block;
      color: $gray3;
      font-size: 32px;
      padding: 20rem 0;
      text-align: center;
      align-self: center;
      @include break-word;
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 9 / 16 * 100%;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
