.community {
  padding-top: 10rem;
  padding-bottom: 10rem;

  .cmd {
    position: relative;
    margin: 2rem auto;
    padding-left: 6%;
    padding-right: 6%;
    text-align: right;
    max-width: 700px;

    .btn {
      & + .btn {
        margin-left: 4px;
      }
    }

    @media (min-width: 540px) {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 6%;
    font-size: 2.2rem;
    transform: translateY(-50%);
    font-weight: bold;
    color: $gray5;

    @include mq(medium) {
      font-size: 3.2rem;
    }
  }

  .video-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 9 / 16 * 100%;

    iframe {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }

  @include mq(large) {
    // margin-right: 2rem;
  }
}
