.counsel {
  padding-top: 6rem;

  &:last-child {
    padding-bottom: 5rem;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-self: center;

  max-width: 700px;
  margin: 0 auto;

  &__title {
    padding-top: 8rem;
    margin-bottom: 4rem;
    font-size: 3rem;
    font-weight: lighter;
    @include break-word;

    i {
      color: $gray3;
      font-style: normal;
      font-family: $font-sub;
      font-size: 6rem;
    }
  }

  &__sub-title {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 14px;
    color: $gray7;
  }

  textarea {
    min-height: 200px;
    margin-top: 10px;
  }

  .v-slider {
    max-width: 80%;

    &__tick-label {
      font-size: 13px;
    }
  }

  .func {
    margin-top: 5rem;
    margin-bottom: 10rem;

    button {
      box-sizing: border-box;
    }
  }
}
