.intro {
  padding-top: 10rem;

  &__title {
    position: relative;
    margin-left: 20px;
    font-size: 2.4rem;

    @include icon(quotes) {
      display: block;
      position: absolute;
      left: -2rem;
      top: 0;
      margin-bottom: 6px;
      color: $gray2;
      font-size: 16px;
    }
  }

  .slogan {
    font-size: 4rem;
  }
}
