.view {
  padding-top: 10rem;
  padding-bottom: 10rem;
  @include break-word;

  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  .title {
    font-family: $serif;
    font-size: 34px;
    text-align: center;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__title {
      margin-bottom: 4rem;
      font-size: 3.2rem;
      @include headline;
    }

    &--meta {
      .desc {
        margin-top: 4rem;
      }
    }
  }

  .meta-cognition {
    position: relative;
    width: 100%;
    height: 46vw;

    #bg-svg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .bg-line {
      stroke-width:2px;
      stroke:rgb(0,0,0);
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item {
      position: absolute;

      &:nth-child(1) {
        top: 100%;
        left: 0;
        transform: translate(-50%, -50%);
      }

      &:nth-child(2) {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        top: 100%;
        left: 100%;
        transform: translate(-50%, -50%);
      }

      // &::before {
      //   content: '';
      //   position: absolute;
      //   top: -1em;
      //   left: 50%;
      //   transform: translate(-50%, -50%);
      //   width: 6px;
      //   height: 6px;
      //   border-radius: 50%;
      //   background-color: gray;
      // }

      span {
        &::before {
          content: '';
          display: block;
          position: relative;
          margin: 10px auto;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: #000000;
          transform: scale(0.1);
          opacity: 0;
          transition: all 0.3s;
        }

        &::after {
          content: '';
          display: block;
          position: absolute;
          margin: 10px auto;
          width: 10px;
          height: 10px;
          top: 0;
          left: 50%;
          transform: translate(-50%, 0) scale(0.8);
          opacity: 0.7;
          border-radius: 50%;
          background-color: #555;
          transition: all 0.3s;
        }
      }

      small {
        display: none;
      }

      &.is-active {
        span {
          &::before {
            transform: scale(1);
            opacity: 1;
          }

          &::after {
            transform: translate(-50%, 0) scale(5.8);
            opacity: 0;
            transition-delay: 0.2s;
          }
        }
      }
    }
  }

  .feature {
    margin-top: 10rem;

    &__item {
      & + .feature__item {
        margin-top: 4rem;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      font-size: 2.6rem;
    }

    &__icon {
      width: 80px;
      height: 80px;
      margin-left: -1rem;
    }
  }
}
