.welcome {
  // padding-top: 10rem;

  .section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &__title {
      font-size: 3.2rem;
      @include headline;
    }
  }

  video {
    width: 100%;
  }

  .section--feature {
    margin-top: -160px;
  }

  .section--staff {
    .comment {
      &__more {
        @include icon(arrow) {

        }
      }
    }
  }

  .cover {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    position: relative;
    font-size: 3.2rem;
    width: 100%;

    @include headline;
  }

  &__desc {
    margin-top: 1rem;
    font-size: 3.0rem;
    font-weight: lighter;
    line-height: 1.3;
  }
}
