.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.4s;

  .logo {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 90px;
    height: auto;
    background-color: transparent;

    .cls-1{
      fill: #ffffff;
    }

    .cls-2{
      fill: #ed1c24;
    }

    .ci-line {
      fill: #ffffff;
    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 24px;
    height: 24px;

    span {
      display: block;
      width: 24px;
      height: 1px;
      background: $white;
    }
  }

  .l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 3rem;
    padding: 0 30px;
  }

  .gnb {
    display: none;

    li {
      a {
        white-space: nowrap;
      }

      span {
        position: relative;
        color: $gray3 !important;
      }
    }
  }

  .user {
    &__info {
      color: $white;
    }
    &__login {
      text-align: right;
      a { color: $white; }
    }
    &__panel {
      position: relative;
      text-align: right;
    }
    &__layer {
      position: absolute;
      // right: 0;
      top: 30px;
      width: 160px;
      padding: 0 4rem;
      right: -4rem;
      background-color: white;

      li + li {
        margin-top: 5px;
      }

      a, button {
        color: $white;
      }
    }
  }

  &.is-open {
    .l-header {
      display: block;
      padding: 0 30px;
      margin: 0;
      height: 100vh;
      background-color: $white;
    }

    .gnb {
      display: block;
      visibility: visible !important;
      opacity: 1 !important;
      transform: translateX(0) !important;

      padding-top: 100px;
      padding-right: 40px;
      padding-bottom: 50px;
      text-align: right;

      li {
        margin-top: 8px;
        font-size: 32px;
        font-weight: 700;

        span {
          &::after {
            content: '(개발중)';
            position: absolute;
            font-size: 12px;
            bottom: 10%;
            right: -40px;
          }
        }
      }
    }

    .user {
      display: block;
      visibility: visible !important;
      opacity: 1 !important;
      transform: translateX(0) !important;
      padding-right: 40px;

      &__layer {
        display: block !important;
      }
    }

    .menu {
      span {
        background: $black;
      }
    }
  }

  &.is-spread {
    .logo {
      // left: 60px;
      // transform: translateX(30px);
    }

    .menu {
      // right: 60px;
      // transform: translateX(-30px);
    }

    .gnb {
      display: block;
      position: relative;

      .nav-list {
        display: flex;

        li {
          a, span {
            color: $white;
            font-size: 17px;
          }

          & + li {
            margin-left: 40px;
          }
        }
      }
    }

    .l-header {
      height: 80px;
      padding: 0 30px;
    }
  }

  &.is-invert,
  &.is-open {
    // background: $white;

    .logo {
      .cls-1{
        fill: $black; // TODO: check color gray?
      }
      .ci-line {
        fill: #f07399;
      }
    }

    .gnb {
      .nav-list {
        li {
          a {
            color: $black; // TODO: check color gray?
          }
        }
      }
    }

    .menu {

      span {
        background: $black;
      }
    }

    .user {
      &__login a {
        color: $black;
      }
      &__info {
        color: $black;
      }
      a, button {
        color: $black;
      }
    }
  }

  &.is-open {
    .user {
      &__panel {
        margin-top: 80px;
      }
      &__info {
        pointer-events: none;
      }
      &__layer {
        top: auto;
        bottom: 30px;
      }
    }
  }
}
