.main {
  min-height: calc(100vh - 60px);

  @include mq(large) {
    min-height: calc(100vh - 100px);
  }
}

.wrapper {
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;

  &--m-p {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include mq(large) {
    max-width: $w-wrap + 50px + 50px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
